{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepwd" method="post">
        <div class="form-group row center-screen">
            <label for="username" class="col-sm-2 col-form-label" style="text-align: left">Username</label>
            <div class="col-sm-4" align="left">
                <input readonly class="form-control-plaintext" name="username" value={{ username }} type="text" style="width: 50%">
            </div>
        </div>

        <div class="form-group row center-screen">
            <label for="current_password" class="col-sm-2 col-form-label" style="text-align: left">Current Password</label>
            <div class="col-sm-4" align="left">
                <input class="form-control" name="current_password" placeholder="Enter current password" type="password" style="width: 50%">
            </div>
        </div>

        <div class="form-group row center-screen">
            <label for="new_password" class="col-sm-2 col-form-label" style="text-align: left">New Password</label>
            <div class="col-sm-4" align="left">
                <input class="form-control" name="new_password" placeholder="Enter new password" type="password" style="width: 50%">
            </div>
        </div>

        <div class="form-group row center-screen">
            <label for="confirmation" class="col-sm-2 col-form-label" style="text-align: left">New Password (again)</label>
            <div class="col-sm-4" align="left">
                <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password" style="width: 50%">
            </div>
        </div>

        <br>

        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}