{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Type</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction["symbol"].upper() }}</td>
                <td>{{ transaction["type"] }}</td>
                <td>{{ transaction["shares"] }}</td>
                <td>{{ usd_function(transaction["price"]) }}</td>
                <td>{{ transaction["time"] }}</td>
            </tr>
            {% endfor %}
        </tdoby>
    </table>
{% endblock %}