{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if messages %}
    <div id="toast_alignment" class="d-flex justify-content-center align-items-center" aria-live="polite" aria-atomic="true" style="height: 220px;">
        <div class="toast border-0" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" animation="true">
            <div class="toast-header">
                <h5><strong class="mr-auto"><i class="bi bi-cash-coin"></i> {{ messages["type"] }}</strong></h5>
            </div>
            <div class="toast-body">
                <p>{{ messages["shares"] }} share(s) of {{ messages["symbol"] }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped center-screen" style="max-width: 80%">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Share(s)</th>
                    <th>Actions</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>

            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["totalShares"] }}</td>
                    <td>
                        <form class="form-inline justify-content-center" action="/" method="post">
                            <button type="submit" class="btn btn-danger" name={{ stock["symbol"] }} value="Sell">
                                <i class="fas fa-minus-circle"></i> Sell
                            </button>
                            <input type="number" name="quantity" class="form-control" value="1" min="1" max="100" style="width:90px">
                            <button type="submit" class="btn btn-primary" name={{ stock["symbol"] }} value="Buy">
                                <i class="fas fa-plus-circle"></i> Buy
                            </button>
                        </form>
                    </td>
                    <td>{{ usd_function(stock["price"]) }}</td>
                    <td>{{ usd_function(stock["totalShares"] * stock["price"]) }}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td>CASH</td>
                    <td colspan="2"></td>
                    <td>
                        <form name="add_cash_form" action="/" method="POST">
                            <div class="dropdown">
                                <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown" type="button">
                                <i class="fas fa-hand-holding-usd"></i> Add Cash
                                </button>
                                <!-- make a hidden field, give it a name (which will be used to get the post data) -->
                                <input name="add_cash" type="hidden">
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" onclick="$('input[name=add_cash]').val('1'); $('form[name=add_cash_form]').submit()">$1</a>
                                    <a class="dropdown-item" href="#" onclick="$('input[name=add_cash]').val('10'); $('form[name=add_cash_form]').submit()">$10</a>
                                    <a class="dropdown-item" href="#" onclick="$('input[name=add_cash]').val('100'); $('form[name=add_cash_form]').submit()">$100</a>
                                    <a class="dropdown-item" href="#" onclick="$('input[name=add_cash]').val('1000'); $('form[name=add_cash_form]').submit()">$1000</a>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td colspan="1"></td>
                    <td>{{ cash }}</td>
                </tr>
            </tdoby>

            <tfoot>
                <td colspan="5"></td>
                <td><strong>{{ total }}</strong></td>
            </tfoot>
        </table>
    </div>
{% endblock %}